@font-face {
    font-family: 'novaSquare';
    src: url('../fonts/nova_square.ttf');
}
body {
    margin: 0;
    display: flex;
    height: 100vh;
}
.left-half {
    display: flex;
    width: 44%;
    background-color: #BBD6EE;
}
.left-half .message {
    position: relative;
    top: 50%;
    left: 50%;
    text-align: center;
    padding-top: 40%;
    transform: translate(-50%, -50%);
    font-family: Arial, Helvetica, sans-serif;
}
.left-half #welcome {
    color: black;
    font-size: 42px;
    font-weight: 300;
    line-height: normal;
    margin-right: 3%;
}
.left-half #welcome-text {
    font-size: 18px;
    line-height: 1.5;
}
.left-half #to-login-button {
    color: black;
    background-color: #BBD6EE;
    font-size: 15px;
    margin-bottom: 2px;
    padding: 6px 35px;
    width: 240;
    height: 40px;
    border-radius: 10px;
    transition: all 0.1s ease;
    outline: 2px solid #000000;
    border: #F0F8FF;
}
#to-login-button:hover {
    background-color: #000000;
    color: aliceblue;
    padding: 8px 38px;
    height: 43px;
    font-size: 16px;
    border: 1px solid aliceblue;
}
.right-half {
    width: 56%;
    background-color: #1f1e33;
    align-content: center;
}
.right-half h2 {
    color: aliceblue;
    display: flex;
}
.right-half .header {
    display: flex;
    align-items: center; 
    padding: 10px;
    text-align: center;
    justify-content: center;
    margin-top: 9%;
}
.right-half .header-item {
    display: inline-flexbox;
}
#logo {
    width: 80px;
    height: 80px;
}
#name-logo {
    color: var(--Alice-blue, #F0F8FF);
    font-family: novaSquare;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-right: 3%;
}
.right-half .form {
    display: flex;
    align-items: center; 
    padding: 10px;
    text-align: center;
    justify-content: center;  
}
.right-half .form .sep-line {
    width: 550px;
    height: 1px;
    background-color: #BBD6EE;
    margin-top: 8%;
    margin-bottom: 8%;
}
.right-half input {
    margin-bottom: 2px;
    padding: 7px;
    width: 250px;
    height: 20px;
    border-radius: 10px;
}
#register-button {
    color: black;
    background-color: #5FC25D;
    font-size: 15px;
    margin-bottom: 2px;
    padding: 7px 40px;
    width: 250px;
    height: 40px;
    border-radius: 10px;
    transition: all 0.1s ease;
    outline: 2px solid #BBD6EE;
}
#register-button:hover {
    background-color: #3a863a;
    color: aliceblue;
    width: 260px;
    height: 43px;
    font-size: 17px;
    border: 1px solid rgb(0, 0, 0);
    padding: 9px 45px;
}
span {
    font-size: 14px;
    color: rgb(255, 46, 46);
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 2px;
}

