
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href=" {{ url_for('static', filename='css/login.css') }} ">
    <link rel="icon" type="image/x-ico" href=" {{ url_for('static', filename='imgs/favicon.ico') }} " >
    <script src=" {{ url_for('static', filename='js/login.js')}} " defer></script>
    <title> Login </title>
</head>
<body>
    <div class="left-half">
            <div class="header">
                <img src=" {{ url_for('static', filename='imgs/vul_logo.png')}} " alt="logo" id="logo" class="header-item">
                <h2 id="name-logo" class="header-item"> Vulture </h2>
            </div>

            <div class="form">
                <form action="/register" method="post">
                    <input id="user-or-email" class="form-item" name="username" type="text" placeholder="Type your username or email" oninput="" required><br>
                    <span id="user-or-email-error"></span>
        
                    <input id="password" class="form-item" name="password" type="password" placeholder="Your password" oninput="" required><br>
                    <span id="password-error"></span> 
        
                    <div class="sep-line"></div>
        
                    <button type="submit" id="register-button" onclick="formIsValid(event)">
                        <strong> Log-In! </strong>
                    </button>
                </form>
            </div>
    </div>

    <div class="right-half">
        <div class="welcome-div">
                <h1 id="welcome"> <strong> Hey! Hello again! </strong></h1>
                <div id="welcome-text">
                    <p> 
                        <strong>
                            It's really great to have you back<br>
                            here. But if this is your first<br>
                            visit, try registering here:
                        </strong> 
                    </p>
                </div>
                <form method="post" action=" {{ url_for('main.home') }} ">
                    <button id="to-register-button"  type="submit"> <strong> Register </strong> </button>
                </form>
        </div>
    </div>
</body>
</html>